# App
NODE_ENV=development
PORT=3000

# Supabase
SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJxxxxx
DATABASE_URL=postgresql://postgres:[password]@db.xxxxx.supabase.co:5432/postgres

# JWT
JWT_SECRET=seu_secret_muito_longo_aqui
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=outro_secret_aqui
JWT_REFRESH_EXPIRES_IN=7d

# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_51TS1t6KCZTCiiSRn6kYSlLcoX5H6FKeCZSaHk7JZ2erFvvFCSUiQi4VphQTkpMEF9dKej7qLvdVFyjBnfv1VpYOH00Ct0xrT44
STRIPE_WEBHOOK_SECRET=whsec_xxxxx
# PaymentIntent + Connect transfers (use brl para contas Stripe Brasil)
STRIPE_CHARGE_CURRENCY=brl

# Redis (Railway)
REDIS_URL=redis://default:xxxxx@xxxxx.railway.app:6379

# Firebase
FIREBASE_PROJECT_ID=ox-field-services
FIREBASE_PRIVATE_KEY=xxxxx
FIREBASE_CLIENT_EMAIL=xxxxx
